spring:
  application:
    name: gsm-seller

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    name: tele-akcesoria

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB

server:
  port: ${PORT:8080}
  forward-headers-strategy: framework
  servlet:
    session:
      timeout: 8h



google:
  vision:
    credentials: ${GOOGLE_CLOUD_VISION_CREDENTIALS}

openai:
  api-base: https://api.openai.com/v1
  model: gpt-4o-mini
  api-key: ${OPENAI_API_KEY}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG

